<%= form_with(url: orders_path, method: :post, local: true) do |form| %>
  <div class="field">
    <label>Amount</label>
    <%= text_field_tag :amount, @amount %>
  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
        data-amount="<%= @amount %>"
        data-name="Stripe Payment"
        data-description="Stripe Payment for Test Product"
        data-email="<%= current_user.email %>"
        data-currency="usd">
  </script>
<% end %>
